{% extends 'layout/base.html' %}
{% load static %}
<body>

<!-- Start Hero Section -->
<div class="hero">
    {% block hero %}
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Laser Cut <span class="d-block">Metal Decorative </span></h1>
                        <p class="mb-4">Bring the art to your home, yard and office and feel the happiness by
                            looking at Decolaser shapes.</p>
                        <p><a href="{% url 'products-in-cards' %}" class="btn btn-secondary me-2">Shop Now</a>
                        </p>
                    </div>
                </div>
                <!-- Start Main picture(first) -->
                <div class="col-lg-5 offset-lg-2">
                    <div class="hero-img-wrap">
                        <img src="{% static 'images/HT4.jpg' %}" alt="Image" class="img-fluid">  <!-- Main picture(first) -->
                    </div>
                </div>
                <!-- End Main picture(first) -->
            </div>
        </div>
    {% endblock %}
</div>ho
<!-- End Hero Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    {% block why-choose-section %}
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h2 class="section-title">Why Choose Us</h2>
                    <p>Because Deco Laser offers you:</p>

                    <div class="row my-5">
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Fast &amp; Free Shipping</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Easy to Shop</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>24/7 Support</h3>
                                <p></p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'images/return.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Hassle Free Returns</h3>
                                <p></p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="{% static 'images/whychoose.jpg' %}" alt="Image" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}
</div>
<!-- End Why Choose Us Section -->


<!-- Start Footer Section -->
<div class="product-section">
    {% block footer-section %}
        <div class="container">
        <div class="row">
        <h1>DecoLaser <span class="d-block">Email:deco@gmail.com </span><span class="d-block">Address:Romania </span>
            <span class="d-block">Phone number: 0123456789 </span></h1>
        <p class="mb-4">For order and purchase products please contact us.</p>
    {% endblock %}
    </div>
    <!-- End Footer Section -->


    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
