{% load static %}
<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="DecoLaser navigation bar">

    <div class="container">
        <a class="navbar-brand" href={% url 'home-page' %}>DECOLASER<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">


                <li class="nav-item active">
                    <a class="nav-link" href={% url 'home-page' %}>Home</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Seller</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'create-seller' %}"
                        >Register
                            a new seller</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-of-sellers' %}"
                        >List
                            of sellers</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Products</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'create-product' %}">Add a new product</a></li>
                        <li><a class="dropdown-item" href="{% url 'products-in-cards' %}">List of products</a></li>
                    </ul>
                </li>
                <!--Start Sign in(dropdown form)-->
                <form class="d-flex" method="get" action="{% url 'search' %}" role="search">
                    <input name="filter" class="form-control me-2" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                {% if user.is_authenticated %}
                    <div>
                        <a href="{% url 'logout' %}" class="btn btn-outline-secondary">Log out, {{ user.username }}</a>
                    </div>

                {% else %}
                    <div>
                        <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
                        <a href="{% url 'create-user' %}" class="btn btn-outline-secondary">Sign up</a>
                    </div>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->